<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Ask for One Piece</h1>
        <hr>
        <a href="/question" class="btn btn-primary">Question</a>
        <hr>
        <% ask.forEach((date) =>{%>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3><%= date.title %></h3>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= date.id %>" class="btn btn-primary">Responder</a>
                </div>
            </div>
        <%})%>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>

